#--------------------------#
# System Default Files    #
#--------------------------#
.DS_Store
/.idea/

#--------------------------#
# Docker Sync Files    #
#--------------------------#
/.docker-sync/


#--------------------------#
# Magento Default Files    #
#--------------------------#

/source_code/app/etc/local.xml

/source_code/media/*
!/source_code/media/.htaccess

!/source_code/media/customer
/source_code/media/customer/*
!/source_code/media/customer/.htaccess

!/source_code/media/dhl
/source_code/media/dhl/*
!/source_code/media/dhl/logo.jpg

!/source_code/media/downloadable
/source_code/media/downloadable/*
!/source_code/media/downloadable/.htaccess

!/source_code/media/xmlconnect
/source_code/media/xmlconnect/*

!/source_code/media/xmlconnect/custom
/source_code/media/xmlconnect/custom/*
!/source_code/media/xmlconnect/custom/ok.gif

!/source_code/media/xmlconnect/original
/source_code/media/xmlconnect/original/*
!/source_code/media/xmlconnect/original/ok.gif

!/source_code/media/xmlconnect/system
/source_code/media/xmlconnect/system/*
!/source_code/media/xmlconnect/system/ok.gif

/source_code/var/*
!/source_code/var/.htaccess

!/source_code/var/package
/source_code/var/package/*
!/source_code/var/package/*.xml

